body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.habit-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  background-color: white;
  padding: 2em;
  border-radius: 1em;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0px 0 1px rgba(10, 10, 10, 0.02);
}

.add-habit-btn {
  padding: 1em;
  border: none;
  border-radius: 0.3em;
  background-color: #007bff;
  color: white;
  margin-bottom: 1em;
  cursor: pointer;
}

.habit-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  width: 100%;
}

.habit-form input,
.habit-form select,
.habit-form button {
  margin-bottom: 1em;
}

.habit-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

button {
  padding: 0.5em;
  border: none;
  border-radius: 0.3em;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

h1 {
  color: #007bff;
  margin-bottom: 1em;
}
